body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: rgb(30, 29, 28);
}

.App {
  margin: 40px auto;
  height: auto;
  max-width: 300px;
  background-color: rgb(10, 10, 10);
  border-radius: 15px;
}

.image {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.main {
  background-color: rgb(20, 19, 19);
  color: white;
  padding: 20px;
}

.footer {
  background-color: rgb(53, 52, 52);
  margin-top: auto;
  text-align: center;
  border-radius: 0 0 15px 15px;
}

h2,h4,h5 {
  margin: 10px;
  text-align: center;
  color: white;
}

h4{
  color: orange;
  font-size: small;
}

.button {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-top:10px;
}

.email {
  width: 100px;
  height: 35px;
  border-radius: 7px;
  cursor: pointer;
  
}

.linkedin {
  width: 100px;
  height: 35px;
  border-radius: 7px;
  background-color: #61DAFB;
  cursor: pointer;
}

.fa-solid,.fa-brands{
  padding:5px;
}

